body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 2px solid red;
    height: 300px;
    width: 300px;
    text-align: center;
}

.grid {
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.turn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.final {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score {
    display: flex;
    justify-content: space-between;
}

.scorecont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}